body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*mern-emainoza css start*/
.appContainer {
  min-height: 100vh;
}
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
main {
  flex: 1;
}

.productList {
  display: flex;
}
.productDetils {
  border: 1px solid #e1e1e1;
  margin: 1rem;
}
.productDetils img {
  width: 100%;
  max-width: 400px;
}
.productText {
  padding: 1rem;
}
.rating span {
  color: #ffa000;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.singin-Container {
  max-width: 550px;
}
#basic-nav-dropdown {
  color: #fff;
}
.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #4b6de1;
  color: #4b6de1;
}
/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
  top: 0;
}

.site-container {
  transition: 0.4s;
}
.active-cont{
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
