body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*mern-emainoza css start*/
.appContainer{
  min-height: 100vh;
}
main{
 flex: 1;
}

.productList{
  display: flex;
}
.productDetils{
  border:1px solid #e1e1e1;
  margin: 1rem;
}
.productDetils img{
  width: 100%;
  max-width: 400px;
}
.productText{
  padding: 1rem;
}
